@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="background-color: #E6E6FA; color: #333; padding: 100px;">
    <h1 class="display-4">Sawadee Krub! I'm Maurice Gabriel Pagsinohin Gagarin!</h1>
    <p>I am currently enrolled in Bachelor of Science in Computer Science Section 32E1.</p>
</div>
