@page
@model School
@{
    ViewData["Title"] = "School";
}

<div class="text-center" style="background-color: #98FF98; color: #333; padding: 100px;">
<h1>CS Elective 3</h1>
<h3>Face-to-Face Classes: 4:00 pm to 7:00 pm every Saturday</h3>
<h3>Asynchronous Classes: 11:00 am to 1:00 pm every Thursday</h3>
</div>
